<%= form_for(@master) do |f| %>
  <% if @master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master.errors.count, "error") %> prohibited this master from being saved:</h2>

      <ul>
      <% @master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home %><br />
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label :homescore %><br />
    <%= f.text_field :homescore %>
  </div>
  <div class="field">
    <%= f.label :away %><br />
    <%= f.text_field :away %>
  </div>
  <div class="field">
    <%= f.label :awayscore %><br />
    <%= f.text_field :awayscore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
