<p class="notice"><%= notice %></p>



<h2><%= @user.name %>'s predictions</h2>
  <table>
  <tr>
    <th>Home</th>
    <th>Home Score</th>
    <th>Away</th>
    <th>Away Score</th>
    <th></th>
  </tr>


 <%= form_for @user do |f| %>
  <%= f.fields_for :predictions do |p| %>
      
    <tr>
    <td><%= p.text_field :home %></td>
	<td><%= p.text_field :home_score %></td>
    <td><%= p.text_field :away %></td>
    <td><%= p.text_field :away_score %></td>
 	</tr>
    	
	<% end %>
	</table>
	
    <%= submit_tag %>
       
<% end %> 