<p class="notice"><%= notice %></p>


<% score = 0 %>
<% zz =0 %>
<% @user.predictions.each do |prediction| %>
 
    <% if prediction.home_score =	@masterhomescore[zz].home_score and prediction.away_score = @masterawayscore[zz].away_score %>
	 <% then score = score + 5 %>
	 <% zz = zz +1 %>
	 <% end %>
<% end %>
<% score %>





<h2><%= @user.name %>'s predictions -- YOUR SCORE IS <%= score %></h2>
 
  <table>
  <tr>
    <th>Home</th>
    <th>Home Score</th>
        <th>Away Score</th>
	<th>Away</th>
    <th></th>
  </tr>

<% hh = [] %>
<% aa = [] %>
<% x = 12 %>  
<% 13.times do %>
  <% hh << @masterhome[x].home %>
  <% aa << @masteraway[x].away %>
  <% x = x - 1 %>
 <% end %> 
 
 
 <%= form_for @user do |f| %>
  <%= f.fields_for :predictions do |p| %>
  
  
    	 
    <tr>
    <td><%=  hh.pop %></td>
	<td><%= p.text_field :home_score %></td>
    <td><%= p.text_field :away_score %></td>
	<td><%= aa.pop %></td>
 	</tr>
	<tr></tr>
		
	  	
	<% end %>
	</table>
	
    <%= submit_tag %>


	
	      
<% end %>

 
