<!DOCTYPE html>
<html>
  <head>
    <title>Prediction site | <%= @title%>  page </title>
    <%= csrf_meta_tag %>
	<%= javascript_include_tag :defaults %>
	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
     <%= stylesheet_link_tag 'custom', :media => 'screen' %> 
  </head>
  <body>
      
      <header>
        <%= image_tag("soccer.png", :alt => "Sample App", :class => "round") %>
      </header>
  
	    <nav>	
		  
            <h3>Users </h3>
			<ul class="links">
              <li><%= link_to "Home", users_path %></li>
			  <% unless @users.nil? %>
			    <% @users.each do |user| %>	
			      <li><%= link_to user.name, user %>
				   <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
								
					
				<% end %>
				
				
			  <h3>New User</h3>
			  <li><%= link_to "New", new_path %></li>
			  
			  <h3>Scoreboard</h3>
			  <li><%= link_to "Scoreboard", scoreboard_path %></li>
			   
			  
			  <% end %>			  
            </ul>
	    </nav>
      
        <h1>Matthew's predictomatic website</h1>  
             
      <section class="round">
        <%= yield %>
      </section>
	  
<%#= debug(params) if Rails.env.development? %>
   
  </body>
</html>