<!DOCTYPE html>
<html>
  <head>
    <title>BLAH- BLAH | <%= @title%>  page </title>
    <%= csrf_meta_tag %>
	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
     <%= stylesheet_link_tag 'custom', :media => 'screen' %> 
  </head>
  <body>
     
     
      <header>
        <%= image_tag("soccer.png", :alt => "Sample App", :class => "round") %>
      </header>
  
	
	    <nav>	
		  <li>
            <h3>Users</h3>
            <ul class="links">
              <li><%= link_to "Home", '' %></li>
              <li><%= link_to "Matthew", '1' %></li>
              <li><%= link_to "Mark", '2' %></li>
           	  <li><%= link_to "Luke", '3' %></li>
			  <li><%= link_to "John", '4' %></li> 
            </ul>
          </li>
	    </nav>
        	
		
	<div id="getting-started">
        <h1>Predictions</h1>
                 
		  
    </div>

         
      <section class="round">
        <%= yield %>
      </section>
	  
<%= debug(params) if Rails.env.development? %>
   
  </body>
</html>



  